*{
    padding: 0px;
    margin: 0px;
}
#ro{ 
    
    background-image:url(https://i.ibb.co/20bdwvvT/Screenshot-2026-01-27-at-11-11-25-PM.png);
    height:100vh;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    color:white;
    
}
nav{ 
    color:rgb(208, 156, 27) ;
    background-color:rgb(91, 40, 3);
    display:flex;
    border-radius:  0px;

    justify-content:space-between;
    flex-wrap: wrap;
}

header{
    padding-top: 20px;
    padding-left: 5px;
    padding-bottom: 20px;
    font-size: 3.5em;
    color: white;
}
#cont{
    background-color:rgb(208, 156, 27) ;
    
    
    border-radius: 10px;
    
    margin:10px;
}h3{
    font: 1em;
    padding-top:20px;
}
#cont:active{
    box-shadow: 0px 2px 4px goldenrod;
}

    
    .h{
        padding: 2vh;
        width: 30vh;
        font-size: 5em;
        flex-wrap: wrap;
        position: relative;
        top: 20px;
    }
    #j{
        color: rgb(216, 161, 23);
        text-align: center;
        font-size: 3em;
        background-color:rgb(91, 40, 3) ;
        padding: 20px;
        letter-spacing: 2px;
        word-spacing: 20px;
    }
    .card{
        background-color: rgba(204, 146, 105, 0.319);
        display: inline-block;
        justify-content:space-evenly ;
        text-align: center; border: 2px solid black;
        border-radius: 20px;
        
        margin: 30px 70px 30px 60px;
        box-shadow:0px 2px 8px rgb(234, 179, 40) ;
    }
    .r{ margin: 10px;  
color: rgb(116, 53, 7);}
   img{
    
    
        border-radius: 18px 18px 0px 0px;
    } .kk{
        color: white;
        margin: 10px;
        font-size: 1.5em;
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(217, 128, 39);box-shadow: 0px 2px 4px goldenrod;
    }
    .kk:active{
        box-shadow: 0px 4px 10px rgba(187, 83, 9, 0.992);
            }
    .card:hover{
        box-shadow: 0px 4px 16px rgb(178, 88, 9);
    } #l{
        background-color: rgba(218, 116, 43, 0.791);
    }
    footer{
        padding: 4em;
        padding-bottom: 1em;
        text-align: center;
        background-color: rgba(218, 116, 43, 0.791);
    }
    footer ul a{
        
        color: rgb(139, 60, 4);
        font-size: 2em;
        letter-spacing: 30px;
        }
        footer ul a:active{
            color: rgb(255, 170, 0);
            
            border-radius: 10px;
            
            
        }
        .q{
            text-align: center;
            padding-top: 30px;
        }
        footer h1{
            color: rgb(139, 60, 4);
            padding: 10px;
            word-spacing: 20px;
            font-size: 3em;
            text-decoration: wavy;
        }
